.flex-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: auto;
  gap: 15px
}

.item{
    width: 350px;
    height: 350px;
    text-align: center;

}
#inCamera{
    background-color: cadetblue;
}
#inAircraft{
    background-color: rgb(112, 188, 231);
}
#inBadminton{
    background-color: rgb(136, 240, 95);
}
#inTravel{
    background-color: rgb(214, 158, 52);
}

#IntAircraftCanvas{
  height: 80% !important;
}
#IntSportCanvas{
  height: 80% !important;
}

#IntCameraCanvas{
  height: 80% !important;
}
#IntLegoCanvas{
  height: 80% !important;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
